@import "colors";
@import "functions";
@import "variables";
@import "mixins";

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: rem(290) 1fr;
  column-gap: rem(60);
}

.wrapper {
  position: relative;
}

.options {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__button {
      @include flex-center;
      background-color: $color-primary;
      color: $color-surface;
      border-radius: 25px;
      padding: rem(10);
      width: rem(120);
      position: absolute;
      right: rem(0);
      bottom: rem(-3);
      z-index: 2;
      cursor: pointer;
      transition: 0.2s background-color, transform 0.2s;
      outline: none;

      &:hover {
        background-color: #c7a7f0;
      }

      &:active {
        transform: scale(0.9);
      }

      &[disabled] {
        background: rgba(88, 87, 87, 0.87);
        pointer-events: none;
      }
    }
  }

  &__chip {
    font-family: Calibri;
    width: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  &__panel {
    flex-grow: 1;
    padding: rem(10 22 22 22);
    margin-top: 20px;
    background-color: $color-surface;

    mat-card-header {
      margin: 0;

      mat-card-title {
        color: $color-primary;
        font-family: $font-primary;
        font-size: rem(13);
      }
    }

    ::ng-deep .mat-chip-list-wrapper {
      margin-top: rem(40);
    }

    mat-chip {
      margin-top: rem(15);
      background-color: $color-background;
      color: $color-primary;

      mat-icon {
        color: $color-secondary;
        opacity: 1;
      }
    }
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color-secondary;
  font-size: rem(22);
  font-family: Calibri;
  margin-top: rem(30);
}

::ng-deep .mat-chip-list-wrapper {
  flex-direction: column !important;
  align-items: flex-start !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $color-surface;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  color: $color-primary;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: $color-primary;
}
::ng-deep .mat-form-field-ripple {
  background-color: $color-primary;
}

::ng-deep .mat-input-element,
::ng-deep .mat-select-value {
  color: $color-primary !important;
}
