.container {
  background-color: #dbdde0;
  padding: 30px;
  // height: 100%;
}

.options {
  max-width: 900px;
  padding: 15px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;

  &__description {
    margin-top: 20px;
    font-size: 18px;
  }

  &__field {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__chip {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

::ng-deep .mat-chip-list-wrapper {
  flex-direction: column !important;
  align-items: flex-start !important;
}

mat-expansion-panel {
  margin-top: 20px;
  width: 100%;
}
