<div class="popup">
  <h2 class="popup__title">I+1 Helper</h2>
  <mat-form-field class="popup__field">
    <mat-label>Digite a palavra procurada</mat-label>
    <input matInput type="text" [formControl]="wordControl" />
    <button
      mat-button
      *ngIf="wordControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="wordControl.setValue('')"
    >
      <mat-icon class="field__icon">close</mat-icon>
    </button>
  </mat-form-field>
  <button
    [disabled]="!wordControl.valid"
    mat-raised-button
    class="popup__button"
    color="primary"
    type="button"
    (click)="search()"
  >
    Pesquisar
  </button>
</div>
